Source: tuigreet
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13),
               build-essential,
               cargo,
Rules-Requires-Root: no

Package: tuigreet
Architecture: linux-any
Depends: ${misc:Depends}, greetd
Provides: tuigreet
Description: tui greet screen for greetd
